@model IList<VoteSession>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">ابتدا فصلی را که می‌خواهید به آن کاندید اضافه کنید را انتخاب کنید.</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="icon_profile"></i> توضیحات</th>
                        <th><i class="icon_calendar"></i> سال تحصیلی</th>
                        <th><i class="icon_calendar"></i> وضعیت</th>
                        <th><i class="icon_pencil-edit"></i> عملیات</th>

                    </tr>
                    @foreach (var session in Model)
                    {
                        <tr>
                            <td>@session.Description</td>
                            <td>@session.Year</td>
                            <td>@session.Status</td>
                            <td>
                                <a asp-action="SelectStudent" asp-route-id="@session.VoteSessionId" class="btn btn-primary">افزودن به این فصل</a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>


    </div>
</div>