@model Candidate
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}




 <div class="row">
   <div class="col-lg-12">
     <h3 class="page-header"><i class="fa fa-files-o"></i> Edit Student</h3>
     <ol class="breadcrumb">
       <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
       <li><i class="icon_document_alt"></i>Student</li>
       <li><i class="fa fa-files-o"></i>Edit Student</li>
     </ol>
   </div>
   </div>
        <!-- Form validations -->
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Enter Required data to add new student
      </header>
      <div class="panel-body">
        <div class="form">
          <form class="form-validate form-horizontal" id="feedback_form" asp-action="Cast">
            <div class="form-group ">
              <label asp-for="Student.Fullname" class="control-label col-lg-2"></label>
              <div class="col-lg-10">
                <input class="form-control" asp-for="Student.Fullname" required />
                
              </div>
            </div>
            <div class="form-group ">
              <label asp-for="Student.Grade" class="control-label col-lg-2"></label>
              <div class="col-lg-10">
                <input class="form-control" asp-for="Student.Grade" required />
              </div>
            </div>
            
                    
           
                    
           
            
                    
                   
                    
                    
                    
                   
                    
                  
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Vote</button>
                <a class="btn btn-default" type="button" asp-action="Index">Cancel</a>
              </div>
            </div>
          </form>
        </div>

      </div>
    </section>
  </div>
</div>

    
